// height navbar
$nav-height     : 60px
  
// bg colors 
$light-color    : #f3f3f3
$dark-color     : #1c1d25

// title color 
$title-color    : #4a4a4a

// link color
$link-color     : #4bbda2

// shadows color 
$out-shadow     : 0 5px 10px rgba(0,0,0,0.20), 0 5px 10px rgba(0,0,0,0.20)
$icon-shadow    : 0 0 0 8px rgba(#1C2331, .3)
