body 
  +light
  padding: 0
  margin: 0

a 
  text-decoration: none

li 
	list-style: none

.section 
  &__wrap
    &-light
      background-color: $light-color
    &-dark
      background-color: $dark-color
  &__container
    padding: 50px 0
    width: 80%
    margin: auto
  &__title
    text-align: center
    text-transform: uppercase
    letter-spacing: 1px
    +bold
    color: $title-color 
    &::after 
      content: ''
      display: block
      margin: auto
      margin-top: 15px
      margin-bottom: 50px
      width: 100px
      height: 3px
      background: #b19386
