body 
  +light
  padding: 0
  margin: 0

a 
  text-decoration: none

li 
	list-style: none

//margin-right 
.mr-x
  margin-right: 30px

.container
  width: 80%
  margin: auto

.section 
  padding-top: 50px
  padding-bottom: 30px
  
  &__title
    text-align: center
    text-transform: uppercase
    letter-spacing: 1px
    +bold
    color: $title-color 
    &::after 
      content: ''
      display: block
      margin: auto
      margin-top: 15px
      margin-bottom: 50px
      width: 100px
      height: 3px
      background: $link-color

.bg
  &-light
    background-color: $light-color
  &-dark
    background-color: $dark-color  


  
