// headline 
.headline
  margin-bottom: 20px
  text-align: center
  font-family: $russo-font
  user-select: none

  &__char 
    position: relative
    padding: 0 0.05em
    font-size: 4.6em
    color: #fafafa
    
    &::before,
    &::after
      content: attr(data-char)
      position: absolute
      top: 0
      left: 0
      transform-origin: left
      transition: .3s cubic-bezier(0,1.88,.83,.67)
    
    &::before
      color: #fafafa
      transform: rotateY(35deg)
      text-shadow: 1px 0 1px rgba($dark-color, .7)
      z-index: 2
    
    &::after
      color: $dark-color
      transform: rotateY(3deg) scale(1.06, 1) skewY(3deg)
      opacity: 0.5
      z-index: 1        

    &:hover
      cursor: pointer
      &::before
        transform: perspective(1000px) rotateY(0)
      &::after
        transform: rotateY(0) scale(1, 1) skewY(3deg)

@media (max-width: $desktopWidth)
  .headline 
    margin-bottom: 0

@media (max-width: $tabletWidth)
  .headline 
    &__char 
      font-size: 3em

@media (max-width: $mobileWidth)
  .headline   
    &__char
      font-size: 2em
