// resume 
.about 
  display: none

  padding: 10px 0

  position: fixed
  top: 0
  left: 0
  
  width: 100%
  height: 100%

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  background: rgba($dark-color, .3)
  overflow-y: auto

  z-index: 4

  /* BEGIN ABOUT OF TOP (HEADER) */
  &-top 
    margin-bottom: 10px
    
    display: flex
    justify-content: flex-end
    
  /* END ABOUT OF TOP (HEADER) */
  
  /* BEGIN SUBTITLE */
  &-title 
    margin-bottom: 10px
    padding: 5px 0
    text-align: center
    text-transform: uppercase
    font-weight: 550
    color: rgba($dark-color, .75)
    border-top: $light-bord 
    border-bottom: $light-bord 
  /* END SUBTITLE */

  /* BEGIN ABOUT OF CONTENT */
  &-content 
    margin: 0 auto
    width: 86%

    user-select: none

    & .container 
      padding: 30px 20px
      background: #fafafa
      box-shadow: 0 0 4px
  
  /* BEGIN LEFT BLOCK */
  &-left 
    text-align: center

    // name of author 
    &__author 
      text-transform: uppercase
      font-weight: 550
    
    // position 
    &__pos 
      letter-spacing: 0.05em
      font-size: 0.85em
      font-style: italic
    
    // frame of photo 
    &__frame 
      margin: 20px auto 30px
      display: block

      width: 160px
      height: 160px

      border-radius: 50%
      background: #ffffff
      box-shadow: 0 0 2px #e5e5e5
      overflow: hidden
    
    // photo 
    &__photo 
      width: 100%
      object-fit: cover
      transform: scale(0.8) translateY(-10px)

  /* BEGIN CONTACTS */
  &-contacts 

    &__title
      margin-bottom: 5px

    &__list
      display: flex
      flex-direction: column
  
    &__item 
      padding: 7px 10px
      border-bottom: $light-bord 
    
    // links of contacts 
    &__link 
      position: relative

      display: flex
      flex-direction: row-reverse
      justify-content: space-between
      align-items: center
      
      color: rgba($dark-color, .7)
      transition: .25s 

      &::after
        content: ''
        position: absolute
        right: 35px
        top: 15%

        width: 1px
        height: 70%
        background: rgba($dark-color, .13)

      &:hover 
        cursor: pointer
        color: $link-color

      // icon for links 
      &--icon 
        display: flex
        justify-content: center
        align-items: center

        width: 24px
        height: 24px

      // text for links 
      &--text
        font-size: 0.9em
  
  /* END CONTACTS */

  /* BEGIN PROFILE */
  &-profile 
    &__title 
      margin: 35px 0 5px
    
    &__text
      padding: 7px 10px 0
      text-align: justify
      font-size: 0.88em
      color: rgba($dark-color, .7)

  /* END PROFILE */

  /* BEGIN PROFILE */
  &-skills 

    &__title 
      margin: 30px 0 5px
      
  /* END PROFILE */
    
  /* END LEFT BLOCK */
  
  /* BEGIN RIGHT BLOCK */
  &-right 

  /* BEGIN WORK EXPIRIENCE */
  &-exp 

    // item 
    &__item 
      margin-bottom: 20px

    // organization 
    &__org 
      display: flex
      text-transform: uppercase
      font-weight: 650
      
      &--name
        position: relative
        padding-right: 15px
        color: rgba($dark-color, .85)

        &::after
          content: ''
          position: absolute
          top: 20%
          right: 0
          width: 1px
          height: 70%
          background: rgba($dark-color, .13)

      &--pos 
        margin-left: 15px
        color: rgba($dark-color, .5)
    
    // period 
    &__time 
      margin: 5px 0 10px
      font-style: italic
      font-size: 0.85em
      color: rgba($dark-color, .7)
    
    // description 
    &__descrip 
      text-align: justify
      font-size: 0.88em
      color: rgba($dark-color, .7)
  /* END WORK EXPIRIENCE*/
  
  /* BEGIN WORK EDUCATION */
  &-education 
    color: rgba($dark-color, .7)

    &__title 
      margin: 35px 0 20px

    &__item
      margin-bottom: 20px
      display: flex

    &__time
      position: relative
      padding: 3px 0
      padding-right: 30px

      display: flex
      flex-direction: column
      justify-content: space-between

      font-size: 0.8em
      font-weight: bold

      &::after
        content: ''
        position: absolute
        top: 5%
        right: 0
        width: 1px
        height: 90%
        background: rgba($dark-color, .13)

    &__info 
      margin-left: 30px

    &__type
      text-transform: uppercase

    &__spec
      margin: 5px 0 10px
      font-style: italic
      font-size: 0.85em
      color: rgba($dark-color, .7)

    // description 
    &__descrip 
      text-align: justify
      font-size: 0.88em
      color: rgba($dark-color, .7)    

      /* END WORK EDUCATION */
    /* END RIGHT BLOCK */
  /* END ABOUT OF CONTENT */

// media 
@media (max-width: $desktopWidth)
  .about 
    &-content
      width: 100% !important

@media (max-width: $mobileWidth)
  .about 
    .col-md-12
      padding: 0 !important
