// fonts 
$russo-font              : 'russo_oneregular', sans-serif;
$caveat-font             : 'caveatregular', cursive;
$exo-font                : 'exo_2regular', sans-serif;

// size 
$navbarHeight						 : 60px;
$btnSize                 : 40px;

// display 
$desktopWidth            : 1199px;
$laptopWidth             : 991px;
$tabletWidth             : 767px;
$mobileWidth             : 575px;

// colors 
$default-color           : #F5F5F5;
$primary-color           : #0099CC;
$success-color           : #26de81;
$danger-color            : #FF8800;
$warning-color           : #f5d020;
$light-color             : #C4C3BA;
$dark-color							 : #212121;	
$link-color							 : #4bbda2;

// border 
$bord 									 : 1px dashed red;
$light-bord              : 1px solid rgba($dark-color, .13)

