.footer  
  &__list
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 10px
 
  & .logo__link
    width: 60px
    height: 60px

.social 
  display: flex
  flex-wrap: wrap
  text-align: center

  margin: 30px -15px

  &__link
    position: relative

    flex-basis: calc(100%/8 - 30px)
    margin: 5px 15px

    display: block

    +bold
    font-size: 18px
    letter-spacing: 1px
    color: $light-color
   
    &::before
      content: ''
      position: absolute
      bottom: -5px
      right: 0
      width: 0%
      height: 2px
      background: $link-color
      transition: .5s

    &:hover::before 
      width: 100%
      left: 0
      background: $link-color

.author
  color: $light-color
  font-size: 13px
  opacity: .5
  &__link
    color: $light-color
    font-size: 13px

@media (max-width: 600px)
  .social
    &__link
      flex-basis: calc(100%/2 - 30px)

@media (max-width: 375px) 
  .social
    &__link
      flex-basis: 100%