.header 
  position: relative
  width: 100%
  height: 100vh

  &::before
    content: 'B'
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    text-align: center
    font-size: 100px
    padding: 10px 30px 
    color: $dark-color
    background: $link-color
    +bold

.scroll-down
  position: absolute
  left: 50%
  bottom: 25px
  transform: translateX(-50%)
  width: 35px
  height: 55px
  border: 3px solid $light-color
  border-radius: 60px

  display: flex
  justify-content: center
  align-items: center

  &__arrow
    width: 3px
    height: 10px
    border-radius: 40%
    background: $light-color
    animation: moveMouse 2s linear infinite

.navbar 
  position: fixed
  top: 0
  width: 100%
  height: $nav-height
  display: flex
  justify-content: space-between
  align-items: center
  background: $dark-color
  border-bottom: 1px solid rgba($link-color, .1)
  z-index: 2
  
  &__logo,
  &__btn
    position: relative
    margin: 0px 15px
    z-index: 3
     
  &__list 
    display: flex
    margin: 0
    padding: 0
    background: $dark-color
  
  .active
    .navbar__link::before
      height: 3px
      width: 100%
      background: $link-color

  &__btn  
    display: none

  &__icon 
    position: relative
    display: block
    background: $light-color
    width: 90%
    height: 3px
    transition: .4s

    &::before,
    &::after
      content: ''
      position: absolute
      display: block
      background: $light-color
      width: 100%
      height: 3px
      transition: .4s
    
    &::before
      top: 8px
    
    &::after
      top: -8px

  &__link
    position: relative
    display: block
    padding: 0px 15px
    +bold
    font-size: 18px 
    line-height: $nav-height
    color: rgba($light-color, .7)
    transition: .4s

    &::before
      content: ''
      position: absolute
      right: 0
      bottom: 0
      height: 3px
      width: 0
      background: $link-color
      transition: .4s
    
    &:hover
      color: #ffffff

      &::before
        left: 0
        width: 100%

  &__checkbox
    display: none

    &:checked ~ 
      .navbar 
        &__list
          position: fixed
          top: 0
          right: 0
          bottom: 0
          left: 0
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center

        &__btn
          .navbar__icon 
            background: transparent

            &::before,
            &::after
              top: 0
            
            &::before
              transform: rotate(-45deg)
            
            &::after
              transform: rotate(45deg)

@keyframes moveMouse 
  0%
    transform: translateY(0)
  50%  
    transform: translateY(20px)
  100%
    transform: translateY(0px)

@media (max-width: 630px)
  .navbar
    &__list
      display: none
    &__btn
      position: relative
      display: flex
      justify-content: center
      align-items: center
      width: 35px
      height: 30px
      cursor: pointer
      transition: .4s

