.intro
  position: relative
  z-index: 1
  &__list
    display: flex
    height: 100vh
    flex-direction: column
    justify-content: center
    align-items: flex-start
    color: $light-color 

  &__title
    margin: 0
    font-size: 60px 
    +bold
  
  &__text
    position: relative
    height: 30px
    line-height: 30px
    +bold
    font-size: 20px
    font-style: oblique
    // width: 22ch
    // margin-top: 15px
    // margin-bottom: 25px
    // font-family: monospace
    // +bold
    // letter-spacing: 1px
    // font-style: oblique
    // font-size: 20px
    // white-space: nowrap
    // overflow: hidden
    // border-right: 3px solid $link-color
    // animation: flashing-border 0.75s step-end infinite, print-text 5s steps(22) 
  
  &__btn
    text-transform: uppercase
    +bold
    font-size: 12px
    color: $light-color
    padding: 13px 25px
    background: $link-color
    border-radius: 2px
    transition: .4s

    &:hover
      color: $link-color
      background: $light-color

@media (max-width: 440px)
  .intro
     &__title
      font-size: 40px