.intro
  position: relative
  z-index: 1
  &__list
    display: flex
    height: 100vh
    flex-direction: column
    justify-content: center
    align-items: flex-start
    color: $light-color 

  &__title
    margin: 0
    font-size: 60px 
    +bold
  
  &__text
    margin-bottom: 25px
    height: 30px
    line-height: 30px
    +bold
    font-size: 20px
  
  &__btn
    text-transform: uppercase
    +bold
    font-size: 12px
    color: $light-color
    padding: 13px 25px
    background: $link-color
    border-radius: 2px
    transition: .4s

    &:hover
      color: $link-color
      background: $light-color

.typed-cursor 
  color: $link-color
  animation: blink 1s step-end infinite 
    
@keyframes blink 
  0%
    opacity: 1
  50%
    opacity: .5
  100% 
    opacity: 1
    
@media (max-width: 440px)
  .intro
     &__title
      font-size: 40px