.modal
	display: none
	// display: flex
	justify-content: center
	align-items: center

	position: fixed
	top: $nav-height
	left: 0
	right: 0
	bottom: 0

	width: 100%
	height: auto

	background: rgba($dark-color, .7)
	z-index: 1

	&__wrap
		display: flex

		width: 85%
		height: 85%

// browser 
.brow
	position: relative

	display: flex
	flex-direction: column

	width: 100%
	height: 100%

	box-shadow: $out-shadow

	&__panel
		padding: 0px 5px

		display: flex
		justify-content: flex-start
		align-items: center

		height: 40px

		background: $gray-color
		border-bottom: 1px solid rgba($dark-color, .3)
		border-radius: 6px 6px 0 0 

		*
			margin: 0px 10px

		& span 
			display: flex
			justify-content: center

			width: 20px
			height: 20px
				
			& img 
				width: 100%
				height: 100%

		& input 
			padding: 5px 7px
			width: 100%

			+arimo
			font-size: 14px

			border-radius: 6px
			border: 1px solid rgba($dark-color, .15)
			outline: transparent
			background: #fafafa	
		
	&__pic 	
		width: 100%
		height: 100%

		background: $light-color

		overflow: auto

		& img 
			display: block
			width: 100%

// content
.content
	position: relative

	display: flex
	justify-content: center

	width: 100%
	height: 100%

	margin-left: 20px
	padding: 25px 0

	background: $light-color

	box-shadow: $out-shadow
	
	&__close 
		position: absolute
		top: 0
		right: 0

		display: flex
		justify-content: center
		align-items: center

		width: 45px
		height: 45px

		font-size: 40px
		color: $dark-color
		transition: all .3s

		&:hover
			cursor: pointer
			color: $link-color
			+bold

	&__info
		display: flex
		flex-direction: column

		width: 85%
		overflow: hidden
	
	&__title
		margin: 10px 0
		text-transform: uppercase
		+bold

	&__descrip		
		padding-right: 20px
		height: 100%

		font-size: 14px
		line-height: 1.5em
		+arimo

		overflow: auto
	
	&__name
		margin: 10px 0
		+bold
		color: $dark-color
		
	&__text
		+arimo
		color: rgba($dark-color, .7)

#m-link
	position: relative
	transition: .5s
	&::before
		content: ''
		position: absolute
		bottom: -1px
		left: 0
		width: 100%
		height: 1px
		background: $link-color
		transition: .5s
		transform: scaleX(0)

	&:hover
		color: $link-color

		&::before
			transform: scaleX(1)

@media (max-width: 760px)
	.brow
		display: none
	.content
		margin-left: 0

	
	
