// toggler 
.toggle
  display: flex
  flex-wrap: wrap
  justify-content: center

  text-align: center

  margin: 0
  margin-bottom: 30px
  padding: 0
 
  &__btn
    margin: 5px 30px

    text-transform: uppercase
    font-size: 16px
    +bold

    cursor: pointer

    & span 
      position: relative

      &::before,
      &::after
        content: ''
        top: 0
        position: absolute
        opacity: 0
        transition: .5s 
        transform: translateX(0)
    
      &::before
        content: '['
        left: 0
        margin-right: 5px

      &::after
        content: ']'
        right: 0
        margin-left: 5px
      
      &:hover
        cursor: pointer
        color: $link-color

        &::before 
          opacity: 1
          transform: translateX(-13px)

        &::after 
          opacity: 1
          transform: translateX(13px)

  .active 
    color: $link-color
    cursor: default

    & span 
      &::before 
        content: '['
        transform: translateX(-13px)
        opacity: 1
      
      &::after
        content: ']'
        transform: translateX(13px)
        opacity: 1      

// experiments 
.test
  padding-bottom: 50px

  &__list
    display: flex
    flex-wrap: wrap

    margin: 0 -10px
  
  &__item
    position: relative

    display: flex

    flex-basis: calc(25% - 20px)
    height: 200px
    margin: 10px
    
    box-shadow: $out-shadow 
    overflow: hidden

    &:hover 
      .test
        &__icon
          opacity: 1
          transform: translate(-50%, -50%) scale(2)
        &__img
          transform: translate(-50%,-50%) scale(0.5)
        &__title
          transform: translateY(150%)
  
  &__link
    position: relative
    
    display: block
    width: 100%
    height: 100%

    &::before
      content: ''
      position: absolute
      left: 50%
      width: 0
      height: 100%
      background: rgba($dark-color, .13)
      transition: .3s
      z-index: 1
    
    &:hover::before
      width: 100%
      left: 0

  &__icon
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) scale(1)

    display: block

    width: 35px
    height: 35px

    font-size: 3em
    background: transparent
    border: 0.1em solid #4B515D
    border-radius: 50%
    box-shadow: $out-shadow

    transition: .3s
    opacity: 0
    z-index: 2

    &::before
      content: ''
      position: absolute
      right: -0.32em
      bottom: -0.15em

      width: 0.45em
      height: 0.12em

      background: #4B515D
      transform: rotate(45deg)
  
  &__img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    transition: .3s 

  &__title
    position: absolute
    bottom: 7%
    width: 100%
    margin: 0
    padding: 12px 10px
    text-align: center
    text-transform: uppercase
    +bold
    font-size: 12px
    color: $light-color
    background: rgba($dark-color, .5) 
    transition: .3s
    box-shadow: $out-shadow 

    &::before,
    &::after
      content: ''
      position: absolute
      left: 0
      width: 100%
    
    &::before
      top: 4px
      border-top: 1px dashed $light-color

    &::after
      bottom: 4px
      border-bottom: 1px dashed $light-color 

@media (max-width: 900px)
  .test
    &__item
      flex-basis: calc(33.3% - 20px)

@media (max-width: 660px)
  .toggle
    &__btn
      width: calc(100%/12*4 - 20px)
  .test
    &__item
      flex-basis: calc(50% - 20px)

@media (max-width: 460px)
  .toggle
    &__btn
      width: 100%
  .test
    &__item
      flex-basis: 100%
      











